.WidgetButton{
  width: 70px;
  height: 70px;
  z-index: 10;
  position: fixed;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
  overflow: hidden;
  border-radius: 100px;
  box-shadow: 0px 2px 4px 0px #808080;
}

.WidgetButton img{
  width: 100%;
  height: auto;
}